@model JournalGetDto
@{
    ViewData["Title"] = "Create";
    bool Display = true;
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">New Journal</h4>
            <p class="card-description">
                Add Datas Properly
            </p>
            <form method="post" class="forms-sample">
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label></label>
                    <label asp-for="@Model.Name"></label>
                    <input asp-for="@Model.Name" class="form-control" placeholder="Name...">
                    <span class="text text-danger" asp-validation-for="@Model.Name"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.PrintTime">Printing Time </label>
                    <input asp-for="@Model.PrintTime"  class="form-control" placeholder="Printing Time...">
                    <span class="text text-danger" asp-validation-for="@Model.PrintTime"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Description"></label>
                    <input asp-for="@Model.Description" class="form-control" placeholder="Description...">
                    <span class="text text-danger" asp-validation-for="@Model.Description"></span>
                </div>


                <div class="form-group">
                    <label asp-for="@Model.Display"></label>
                    <input type="checkbox"  Model.Display=checked ? true:false class="form-control" checked value="true">
                    <span class="text text-danger" asp-validation-for="@Model.Description"></span>
                </div>


                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>


